{
  "sourceMaps": true,
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 0.25%, not dead",
          "node": "9"
        },
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": 2,
        "shippedProposals": true
      }
    ]
  ]
}
